.logo{
  width: 30px !important;
}
.categorie option, .categorie input{
  width: 100px !important;
}
.card .card-img-top{
  width:fit-content;
  height: fit-content;
}
.card .etoile{
  width: 15px;
}
.side{
  height: 445px;
}
